---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticlePreviewSmall from '../../components/ArticlePreviewSmall.astro';
import { formatBlogPosts } from '../../js/utils';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: formatBlogPosts(filteredPosts) },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout
  title={`Emnet: ${tag} | Myrstadbloggen`}
  description={`Her finner du alle innleggene som omhandler ${tag} på Myrstadbloggen`}
>
  <h1>Innlegg som omhandler <span>{tag}</span></h1>
  <div class="grid">
    {posts.reverse().map((post) => <ArticlePreviewSmall entry={post} />)}
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  h1 span {
    color: #801de3;
  }

  @media screen and (max-width: 900px) {
    h1 {
      font-size: 3rem;
    }

    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }

    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
