---
import MainLayout from '../layouts/MainLayout.astro';

import { formatBlogPosts } from '../js/utils';

import { getCollection, CollectionEntry } from 'astro:content';
import ArticlePreviewLarge from '../components/ArticlePreviewLarge.astro';
import ArticlePreviewSmall from '../components/ArticlePreviewSmall.astro';

const blogEntries = await getCollection('blog');
const filteredPosts = formatBlogPosts(blogEntries, {
  limit: 4,
  filterOutFuturePosts: false,
  sortByDate: true,
});
const featuredPost = filteredPosts.pop(0) as CollectionEntry<'blog'>;
---

<MainLayout
  title="Hjemmeside | Myrstadbloggen"
  description="Myrstadbloggen er en liten personlig blogg, bloggen handler ikke om noe spessielt, heller ting jeg personlig interreserer meg for i øyeblikket!"
>
  <h1>Bloggen</h1>
  <ArticlePreviewLarge entry={featuredPost} />
  <div class="grid">
    {
      filteredPosts
        .reverse()
        .map((blogEntry) => <ArticlePreviewSmall entry={blogEntry} />)
    }
  </div>
</MainLayout>

<style>
  .grid {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  h1 {
    font-size: 8rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 900px) {
    h1 {
      font-size: 6rem;
    }

    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 4rem;
    }

    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
