---
import RoundedButton from '../components/RoundedButton.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Om nettsiden | Myrstadbloggen"
  description="Lurer du p책 hva som er p책 denne nettsiden eller hvorfor den i det hele tatt eksisterer. S책 f책r du svaret her"
>
  <div>hei jeg skal bare teste Roundedbutten her</div>
  <RoundedButton
    style="secondary"
    text="Dette er en 'test' knapp"
    icon={{
      name: 'fa-solid:arrow-left',
      side: 'left',
    }}
  />
  <RoundedButton
    style="primary"
    text="Dette er en 'test' knapp"
    icon={{
      name: 'fa-solid:arrow-right',
      side: 'right',
    }}
  />
  <RoundedButton
    style="primary"
    href="#"
    text="Dette er en knapp"
    icon={{
      name: 'mdi:account',
      side: 'right',
    }}
  />
  <RoundedButton
    style="primary"
    href="#"
    text="Dette er en knapp"
    icon={{
      name: 'mdi:clock',
      side: 'left',
    }}
  />
</MainLayout>
