---
import { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

const { entry } = Astro.props;

interface Props {
  entry: CollectionEntry<"blog">;
}
---

<Tags tags={entry.data.tags} />

<h3>Les kronologisk</h3>
