---
---

<footer>
  <div class="wrapper">
    <p>Laga med kjærleik <br class="visible-mobile" /> av Morten Myrstad</p>
    <p>Opphavsrett &copy; <span id="copyrightYear"></span></p>
  </div>
</footer>

<script>
  const el = document.querySelector('#copyrightYear') as HTMLElement;
  el.innerText = new Date().getFullYear().toString();
</script>

<style>
  footer {
    margin-top: auto;
    padding: 3rem 1rem;
    font-size: 1.25rem;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-900);
  }

  .wrapper {
    max-width: 82rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
  }

  .visible-mobile {
    display: none;
  }

  p {
    margin: 0;
  }

  @media screen and (max-width: 500px) {
    .visible-mobile {
      display: block;
    }

    .wrapper {
      text-align: center;
    }
  }
</style>
