---
---

<footer>
  <div class="wrapper">
    <p>
      Laga med kjærleik <br class="visible-mobile" /> av <a
        target="_blank"
        href="https://mortenmyrstad.no/">Morten Myrstad</a
      >
    </p>
    <p>
      Opphavsrett &copy; <span id="copyrightYear"></span>
      | <a href="/rss.xml">RSS</a>
    </p>
  </div>
</footer>

<script>
  const el = document.querySelector('#copyrightYear') as HTMLElement;
  el.innerText = new Date().getFullYear().toString();
</script>

<style>
  footer {
    margin-top: auto;
    padding: 3rem 1rem;
    font-size: 1.25rem;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-900);
  }

  .wrapper {
    max-width: 82rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
  }

  .visible-mobile {
    display: none;
  }

  p {
    margin: 0;
  }

  a {
    color: var(--clr-purple-900);
    text-decoration: none;
    position: relative;
    z-index: 5;
  }

  a::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    right: -0.25rem;
    left: -0.25rem;
    height: 0.25rem;
    background-color: #e4eaf17f;
    transition: height 250ms ease-out;
    z-index: -1;
  }

  a:hover::after {
    height: 1.75rem;
  }

  svg {
    height: 1.375rem;
  }

  @media screen and (max-width: 500px) {
    .visible-mobile {
      display: block;
    }

    .wrapper {
      text-align: center;
    }
  }
</style>
