---
import { Icon } from 'astro-icon';
---

<header>
  <div class="wrapper">
    <a href="/" class="logo" aria-label="naviger hjem">
      <div class="logomark">
        <Icon name="icon" />
      </div>
      <div class="textmark">Myrstadbloggen&trade;</div>
    </a>
    <nav id="nav-links">
      <ul>
        <li><a href="/om">Om bloggen</a></li>
        <li><a href="/innlegg/">Innlegg</a></li>
        <li><a href="/emne/">Emner</a></li>
      </ul>
    </nav>
    <button
      id="nav-button"
      aria-controls="nav-links"
      aria-label="åpner navigasjon"
    >
      <Icon name="uil:bars" />
    </button>
  </div>
</header>
<style>
  header {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    padding-inline: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 82rem;
    margin-inline: auto;
    height: 4rem;
  }

  .logo {
    position: relative;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 700;
  }

  .logomark {
    display: flex;
  }

  .logo svg {
    height: 3rem;
    width: 3rem;
  }

  .logo::after {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 4px;
    left: 0;
    right: 100%;
    border-radius: 2px;
    background-color: var(--clr-purple-700);
    transition: right 200ms ease-in-out;
  }

  .logo:hover::after,
  .logo:focus::after,
  .logo:active::after {
    right: 0;
    transition: right 200ms ease-in-out;
  }

  .logo:hover,
  .logo:active,
  .logo:focus {
    color: var(--clr-purple-200);
  }

  @keyframes faceLeftToRight {
    0% {
      right: 100%;
    }
    100% {
      right: 0;
    }
  }

  button {
    all: unset;
    display: none;
  }

  button svg {
    width: 3rem;
    height: 3rem;
  }

  nav {
    margin-block: auto;
  }

  ul {
    display: flex;
    gap: 4rem;
  }

  li {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
  }

  li a:hover,
  li a:focus,
  li a:active {
    text-decoration: underline;
    color: var(--clr-purple-200);
  }

  @media screen and (max-width: 900px) {
    nav {
      display: none;
    }

    nav.aria-expanded {
      display: block;
      position: fixed;
      background-color: var(--clr-neutral-700);
      top: 4rem;
      right: 0;
      border-radius: 0 0 1rem 1rem;
    }

    nav.aria-expanded ul {
      display: flex;
      padding-left: 0;
      padding-bottom: 0.5rem;
      gap: 0;
      flex-direction: column;
    }

    nav.aria-expanded li {
      display: flex;
      width: 100%;
      height: 100%;
    }

    nav.aria-expanded a {
      display: flex;
      width: 100%;
      padding: 1rem 4rem;
      padding-right: auto;
    }

    button {
      display: block;
    }

    button:hover svg {
      color: var(--clr-purple-200);
    }
    button:active svg {
      color: var(--clr-purple-100);
    }
    button:focus svg {
      border-radius: 0.25rem;
      outline: 2px solid var(--clr-purple-200);
      outline-offset: 2px;
    }
  }

  @media screen and (max-width: 500px) {
    .textmark {
      display: none;
    }
  }

  @media screen and (max-width: 300px) {
    nav.aria-expanded a {
      padding: 1rem 2rem;
    }
  }
</style>

<script>
  const navLinks = document.querySelector('#nav-links') as HTMLElement;
  const navButton = document.querySelector('#nav-button') as HTMLElement;

  navButton.addEventListener('click', () => {
    navLinks.classList.toggle('aria-expanded');
    navLinks.querySelector('a')?.focus();
  });
</script>
