---
import RoundedButton from './RoundedButton.astro';

interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<div>
  {
    tags.map((tag) => (
      <RoundedButton style="tertiary" text={tag} href={`/emne/${tag}/`} />
    ))
  }
</div>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 1rem;
  }
</style>
