---
import RoundedButton from "./RoundedButton.astro";

interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

{tags.map((tag) => <p>{tag}</p>)}

<div>
  {tags.map((tag) => <RoundedButton style="tertiary" text={tag} />)}
</div>
