---
//components
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
//css
import '../css/global.css';
import Breadcrumbs from '../components/Breadcrumbs.astro';
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <Navbar />
    <Breadcrumbs />
    <main>
      <div class="wrapper">
        <slot> Tekniske problemer</slot>
      </div>
    </main>
    <Footer />
    <style>
      main {
        padding: 0 1rem;
      }

      .wrapper {
        max-width: 82rem;
        margin-inline: auto;
      }
    </style>
  </body>
</html>
